html, body {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
}

.fullscreen-header {
	height: 100%;
	width: 100%;
	display: table;
	overflow: hidden;
}

.vertical-align {
	display: table-cell;
	vertical-align: middle;
}